<div class="hide well" id="notification-column">
  <div>
    <h4><span>Notifications</span> <span class="pull-right btn btn-default js-close-notifications">&times;</span></h4>
  </div>
  <div class="js-notification-list">
  </div>
</div>
